.bottomNavCont {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10rem;
}

.bottomNavInner {
    width: 100%;
    max-width: 90rem;
}

.bottomNavLinks {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottomNavLinksSocial,
.bottomNavLinkSite {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottomNavLinksSocial {
    flex-direction: column;
}