.contactForm {
    width: 100%;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactFormControl {
    width: 100%;
    margin-bottom: 1rem;
}