.footerCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(100, 101, 130);
}

.copyrightCont {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3rem;
}

.copyrightInner {
    width: 100%;
    max-width: 90rem;
}

.copyrightTextCont {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyrightText {}