.pageCont {
    margin-top: 6rem;
}

.contactCont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contactInner {
    width: 100%;
    height: 100%;
    max-width: 90rem;
    display: flex;
    justify-content: center;
    align-items: center;
}